/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
.color-theme {
  background-color: #660066;
  color: #ffffff;
}


body {
  font-family: 'Oswald', sans-serif;
}

body * {
  margin: 0;
  padding: 0;
  border: 0;
}

body .txt-border {
  border-top: 2px solid;
}

#logo_nav {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: auto;
}

nav {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18pt;
}

header {
  height: 507px;      /*Cuadrar por porcentajes */
  position: relative;
}

header .container {
  padding-bottom: 1.68em;   /*Autoajuste con em 27px 35px 37.2px 45px*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-section {
  text-align: center;
  background-image: url('../img/bg_hero.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 40px;     /*Mobile Values*/
  line-height: 88pt;   /*Mobile Values*/
}

.expe-cards .card-title, .card-text {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}

.expe-cards .card-text, .work-cards .card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.expe-cards i {
  margin-bottom: 15px;
}

.work-cards{
  width: 246.29px;
  margin-bottom: 40px; /*Ajustar a otros tamaños extrapolar*/
}

.work-cards .card-title {
  font-size: 17px;
}

.work-cards .card-text {
  font-size: 1rem;
}
